/* background color */
$primary-color-background: #F5F5F5;
$second-color-background: rgba(169, 191, 228, 0.3);
$primary-color: #A9BFE4;

/*text colors */
$text-color-header: #FFFFFF;
$text-color-article: #351F21;
$text-color-names:  #989EC3;

/*lust butoon color*/
$button-color: #FFC2C7;


